

.chat-container.show {
    max-height: 500px;
}


.collapsible:active {
    border-radius: 0%;
}

.collapsible:hover {
    background-color: #2121c7;
}




.chat-input-box {
    width: 100%;
    transition: outline 0.5s;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.chat-input-box.error {
    outline: 1px solid crimson;
}




.chat-input-send:hover {
    background-color: rgba(241, 241, 241, 0.8);
}

.chat-input-send:active {
    box-shadow: inset 0px 0px 2px 0px black
}

.chat-bubble-bot {
    border-radius: 6px;
    padding: 0.5rem;
    background-color: rgb(172 170 170);
    margin: 4px 0;
    align-self: flex-start;
    animation: floatUp 700ms;
}

.chat-bubble-user {
    background-color: #6e6edd;
    color: #ffffff;
    padding: 0.75rem 1rem;
    margin: 8px 1rem;
    max-width: 100%;
    align-self: flex-end;
    font-family: 'Segoe UI', sans-serif;
    font-size: 0.95rem;
    border-radius: 16px 16px 0 16px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.12);
    animation: floatUp 500ms ease-out;
    position: relative;
    word-wrap: break-word;
}

@keyframes floatUp {
    from {
        transform: translateY(14px);
        opacity: .0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}


#chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;           
}


.chat-footer {
  order: 1;
  flex: 0 0 auto;        
}


#chat-content {
  order: 2;
  flex: 1 1 auto;        
  display: flex;
  flex-direction: column;
  justify-content: flex-end;   
  overflow-y: auto;
}